body{
    background: black;
}
h1{
    font-size: 60px;
    color: white;
    text-align: center;
}
p{
    font-size: 30px;
    color: yellow;
    text-align: justify;
}
img{
    width: 300px;
    height: 300px;
    margin: 30px;
    margin-left: 130px;
}